<!DOCTYPE html>
<html>

<head>
  <title>Vendor Search</title>
  <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="background">

    <div class="navbar">
      <a href="#searchbar" id="logo">
        <div>
          <img src="{{url_for('static', filename = 'NG_logo.png')}}" id="NGlogo">
        </div>
      </a>
      <a href="#contact"> Contact </a>
      <a href="#about"> About </a>
      <a href="#searchbar"> Search </a>
    </div>

    <div class="container">
      <div class="statement">
        <h1> Find <span id="amplify"> Companies. </span> </h1>
        <h1> Explore <span id="amplify"> Possibilities. </span> </h1>
      </div>
      <div class="photo">
        <img src="{{url_for('static', filename = 'search.png')}}">
      </div>
    </div>

    <div class="container2" id="about">
      <h1 id="aboutheader"> How does it work? </h1>
      <div class="aboutinfo">
        <p> This app was created using <span id="HTMLw"> HTML </span>, <span id="CSSw"> CSS </span>, <span id="PYTHONw">
            Python </span> & <span id="FLASKw"> Flask</span> </p>
        <br>
        <p id="info"> This search engine identifies, scrapes, and gives out relevant information pertaining to
          companies. </p>
      </div>
    </div>

    <div class="search_prototype" id="searchbar">

      <div class="container3">
        <h1>Vendor Search</h1>
        <!--         REMOVED POST METHOD / ACTION TEMPORARILY -->
        <form class="search_engine" method="post">
          <br>
          <input type="text" id="product" name="product">
          <br>
          <br>
          <input type="submit" value="Search">
        </form>
      </div>

    </div>

    <div class="output">
      <div class="outputcontainer">
        <br>
        <h1>Results</h1>
        {% block head %}
          {% for i in range(length) %}
            <div class="card">
              <div class="results_container">
                <h2>{{names[i]}}</h2>
                <br>
                <h4>{{descriptions[i]}}</h4>
                <a href = "{{sites[i]}}">{{names[i]}}</a>
              </div>
            </div>
          {% endfor %}
        {% endblock %}
      </div>
    </div>

    <div class="contacts" id="contact">
      <div class="container4">
        <h1></h1>
      </div>
    </div>

  </div>
</body>

</html>