html, body {
    padding: 0px;
    margin: 0px;
    min-width: 1000px;
    scroll-behavior: smooth;
    font-family: 'dosisextralight';
    font-weight: bold;
}

@font-face {
    font-family: 'dosisextralight';
    src: url('/static/styles/dosis-variablefont_wght-webfont.woff2') format('woff2'),
        url('/static/styles/dosis-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.background {
    background-image: url('/static/back.jpg');
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 125px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 50px;
    padding: 20px 25px;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.navbar a:hover {
  transition: 0.5s ease-in-out;
  transform: scale(120%);
  color:blue;
}

#logo:hover {
  transform: scale(100%);
}
 
#logo {
    float: left;
    padding: 0px;
    margin-top: 20px;
}

#NGlogo {
    width: 420px;
    height: 80px;
}

.container {
    display: flex;
    height: 600px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.statement {
    font-size: 30px;
    width: 50%;
    margin-left: 100px;
}

.photo {
    transform: scale(35%);
    width: 50%;
    margin-right: 40px;
}

#amplify {
    color: rgb(46, 41, 41);
    font-size: 125px;
}

.container2 {
  padding-top: 25px;
  text-align: center;
  height: 750px;
}

.container2 p{
  font-size: 50px;
  margin: 25px;
}

#aboutheader {
  font-size: 175px;
}

#HTMLw {
  color: orange;
}

#CSSw {
  color: lightblue;
}

#PYTHONw {
  color: #b3b305;
}

#FLASKw {
  color: blue;
}

.container3 {
  padding-top: 100px;
  text-align: center;
  height: 400px;
}

.container3 h1 {
  font-size: 55px;
  font-weight: bold;
}

.output {
  height:350px;
}

.outputcontainer {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: rgb(187, 231, 228);
}

.contacts {
  display: flex;
}

.container4 {
  width: 100%;
  margin-left: 25px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.results_container {
  padding: 10px 16px;
  margin-bottom: 5px;
}

input[type=text]{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  height: 50px;
  width: 50%;
}

input[type=submit]{
  color: black;
  font-size: 25px;
  height: 50px;
  width: 20%;
  border-radius: 25px;
}